<!DOCTYPE html>
<html>
<head>
	<title>{{ preferences.ringName }}</title>
	{% for sheet in preferences.stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ ('/static/' ~ sheet) | url }}">
	{% endfor %}
</head>

<body>
	<script>
		let ringMembers = [];
		{% for entry in members %}
			ringMembers.push({
				link: "{{entry.link}}",
				description: "{{entry.description}}"
			})
		{% endfor %}
	</script>

	<header>
		<div id="headerTitle">
			<h1>wr<span>o</span>ng<span>o</span>s</h1>
			<p>{{ preferences.siteDescription }}</p>
		</div>
		<div id="headerLinks">
			{% for name, link in preferences.links %} 
				<a href="{{ link | url }}">{{name}}</a>
			{% endfor %}
		</div>
	</header>
	
	<div id="bodyHelper">
		<main>
			{{ content | safe }}
		</main>
		
		<aside>
			<h1>Members</h1>
			
			<dl>
				{% for entry in members %} 
				<dt><a href="{{entry.link}}">{{entry.name}}</a></dt>
				<dd>{{ entry.description }}</dd>
				{% endfor %}
			</dl>
			
			<h1>Widget</h1>
			{% include 'widget.html' %}

			{% if preferences.showWidgetSource == true %}
			<script src="{{ '/static/widget-gen.js' | url}}" defer></script>

			<h2>Widget source</h2>
			{% set widget %}{% include "widget.html" %}{% endset %}
			<div id="widgetGenerator" style="display: flex;">
				<input id="widgetGeneratorInput" type="text" placeholder="Your website address"></input>
				<button id="widgetGeneratorButton">Generate</button>
			</div>
			<textarea id="widgetGeneratorSource" class="widgetSource" disabled>{{ widget | escape }}</textarea>
			{% endif %}
		</aside>
	</div>
</body>
</html>